
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

a {
  color: inherit;
  text-decoration: none !important;
}

.backgroundImage {
  background-image: url('../public/assets/banner.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer-text-color{
  color: white;
}

.infoBackgroundImage {
  background-image: url('../public/assets/infobg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  position: relative;
}

.infoBackgroundImage::after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: linear-gradient(89.66deg, rgba(10, 10, 12, 0.93) 13.69%, rgba(11, 11, 14, 0.12) 56.82%);
  border-radius: 14px;
  z-index: 1;
}
